.DS_store
.idea/
.vscode/
.sass-cache/
node_modules/
tmp/
public/
data/db
launcher/mongod.conf
client/theme/utils/_sprite.scss
client/theme/images/sprite.svg
coverage/
server/config.json
test/test-db-config.json
server/cert/
logs/
npm-debug.log
.env
/dist
